
<h1>Taking "Vacation Spots Quiz"</h1><br>
<%= @quiz %>
<h2>Question: "Which Biome Type Do You Like the Most?"<%= @quiz %></h2> 

<h2>Options:</h2>
<h4>1) "Deserts"</h4>
<h4>2) "Rainforests"</h4>
<h4>3) "Antartic"<h4>
<h4>4) "Tropics"</h4>

<h2>Next Question</h2>